.Page{
    width: 100%;
    min-height: 100vh;
    background-color: black;

}

.FirstPage{
    width: 100%;
    height: 100vh;
    background-image: url(./OIP.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}